body {
  background-image: url(./images/tan\ dog\ bones.png);
  background-blend-mode: lighten;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#search {
  display: flex;
  justify-content: center;
}

#photo {
  display: flex;
  justify-content: center;
}

img {
  margin: 40px;
}
