body {
  background: url(./images/tan\ dog\ bones.png);
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  justify-content: space-evenly;
}
